.gameContainer {
    position: relative;
    background-color: black;
    height: 460px;
    width: 460px;
    margin: 0 auto;
    padding: 20px;

}
.gameContainer table {
    margin: auto auto;
}
.cell {
    display: inline-flex;
    width: 148px;
    height: 148px;
    margin: 0;
}
.cell p {
    font-size: 100px;
    text-align: center;
    color: white;
    margin: auto;
    font-weight: bold;

}

.cTopLeft {
    border-bottom: 2px solid white;
    border-right: 2px solid white;

}
.cTopCenter {
    border-bottom: 2px solid white;
}
.cTopRight {
    border-bottom: 2px solid white;
    border-left: 2px solid white;

}
.cCenter {
    border-right: 2px solid white;
    border-left: 2px solid white;
}
.cBotLeft {
    border-top: 2px solid white;
    border-right: 2px solid white;
}
.cBotCenter {
    border-top: 2px solid white;
}
.cBotRight {
    border-top: 2px solid white;
    border-left: 2px solid white;
}

.results {
    background: #333;
    color: red;
    position: relative;
    width: 300px;
    height: 200px;
    margin: 0 auto;
    top: -400px;
    text-align: center;
    display: none;
    font-size: 48px;
    padding-top: 50px;
}

.choose {
    background: #333;
    color: red;
    position: relative;
    width: 300px;
    height: 300px;
    margin: 0 auto;
    top: -400px;
    text-align: center;
    font-size: 48px;
    padding-top: 15px;
}
.choose span {
    background-color: green;
    padding: 5px;
    cursor: pointer;
}