<link rel="stylesheet" href="view1/view1.css">
<div class="gameContainer">
    <table>
        <tr>
            <td class="cell cTopLeft" ng-click="cellClick(0,0)"><p>{{grid[0][0]}}</p></td>
            <td class="cell cTopCenter" ng-click="cellClick(0,1)"><p>{{grid[0][1]}}</p></td>
            <td class="cell cTopRight" ng-click="cellClick(0,2)"><p>{{grid[0][2]}}</p></td>
        </tr>
        <tr>
            <td class="cell cLeft" ng-click="cellClick(1,0)"><p>{{grid[1][0]}}</p></td>
            <td class="cell cCenter" ng-click="cellClick(1,1)"><p>{{grid[1][1]}}</p></td>
            <td class="cell cRight" ng-click="cellClick(1,2)"><p>{{grid[1][2]}}</p></td>
        </tr>
        <tr>
            <td class="cell cBotLeft" ng-click="cellClick(2,0)"><p>{{grid[2][0]}}</p></td>
            <td class="cell cBotCenter" ng-click="cellClick(2,1)"><p>{{grid[2][1]}}</p></td>
            <td class="cell cBotRight" ng-click="cellClick(2,2)"><p>{{grid[2][2]}}</p></td>
        </tr>
    </table>



</div>
